*{
	margin: 0;
	padding: 0;
	outline:none;
}
body{
background: #FFFFFF;
    font:14px Arial, Tahoma, sans-serif; 
}
a{
	text-decoration:none;
}
.page_align{
	width: 1000px;
	margin:0px auto;
    overflow: hidden;
    background: gray;
    overflow: hidden;
}
.clr{
    clear:both;
}
.heder{
	padding: 10px;
	border: solid 1px gray;
	height: 150px;
	background: #99CCCC;
}
.sidebar{
	padding: 10px;
	float: left;	
	height: 1000px;
	width: 200px;
	float: left;
	border: solid 1px gray;
	background: #6699FF;
}
.content{
	padding: 10px;
	width: 1000px;
	height: 1000px;
	border: solid 1px gray;
	background: #CCCCFF;
	margin: right;
}
