*{
	margin: 0;
	padding: 0;
	outline:none;
}
body{
	background: #FFFFFC;
  font:14px Arial, Tahoma, sans-serif; 
}

a{
	text-decoration:none;
}
.b5radius{
  border-radius: 4px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
}
.page_align{
	width: 1100px;
	margin:0px auto;
  overflow: hidden;
  background: #6699FF;
  overflow: hidden;
  clear:both;
}
.clr{
    clear:both;
}
.heder{
	padding: 10px;
	border: solid 1px gray;
	height: 150px;
	background: #999999;
	border-bottom: solid 3px #CCCCCC;
}
.hed_nav{
	margin: 3px;
	height: 35px;
}
.sidebar{
	padding: 10px;
	float: left;	
	height: auto;
	width: 200px;
	float: left;
	background: #6699FF;
	box-shadow: none;
}
.content{
	float: right;
	padding: 10px;
	width: 853px;
	height: auto;
	border: solid 1px gray;
	background: #CCCCFF;
	margin: right;
	border-left: solid 4px #666699;
}
.articles{
	border: solid 1px gray;
	margin: 5px;
	padding: 10px;
}
.bott{
	border-spacing: 5px;
	border: solid 1px gray;
	margin: 10px;
	background: #CCCCCC;
	padding: 2px;
}
.bott:hover{
	background: #CBBBBB;
}
.footer{
	height: 20px;
	text-align: center;
	background: #CCCCCC;
	width: 100%;
	clear:both;
	position:relative;
	bottom: 0px;
}
.footer:hover{
	background: #CCCBBB;
}
.u_del{
	margin-left: 750px;
	margin-top: -80px;
}
.lang{
	margin: -10px;
	margin-bottom: 10px;
	text-align: right;
}
.lang a{
	padding: 3px;
	float: right;
	border-right: solid 1px gray;
	outline: none;
}
.f_bord{
	border: solid 1px gray;
	padding: 5px;
	margin: 10px;
}
.comment{
	border-bottom: solid 1px gray;
	padding: 20px;
	margin-left: 25px;
	margin-right: 25px;

}
.vote{
	margin: 10px;
	margin-left: 90px;
	font-size: 12px;
	color: #6B6B6B;
}